@font-face{
    font-family: 'Rowdies';
    src: local('Rowdies Regular'),
    url('./fonts/Rowdies-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Rowdies';
    src: local('Rowdies Bold'),
    url('./fonts/Rowdies-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
   
    }
html{
    background-color: #ffd166;
}
body{
    font-size: 16px;
    font-family: 'Rowdies';
}

.Tictactoe{
    border: 1px solid red;
    height: 60vh;
    box-sizing: border-box;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cell{
    border: 1px solid red;
}